<li>
	{{burger_name}}

	<button class="btn btn-danger eatBurger" data-id="{{id}}" data-yumburger="{{devoured}}">
		{{#unless devoured}}EAT ME{{else}}POOP{{/unless}}
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">THROW BURGER AWAY</button> --}}
</li>

