<li>
	{{burger_name}}

	<button class="btn btn-danger" class="eatBurger" data-id="{{id}}" data-yumBurger="{{devoured}}">
		{{#if devoured}}EAT ME{{else}}POOP{{/if}}
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">THROW BURGER AWAY</button> --}}
</li>

